
mtconnect


boto3~=1.16

python-dateutil==2.8.1
pytz==2020.1
influxdb-client~=1.13
h5py~=3.1
Flask~=1.1
APScheduler~=3.7
func-timeout~=4.3.5
numpy~=1.22.3
urllib3~=1.26.5
requests~=2.24

cryptography~=3.4.8

#flask version updates
markupsafe==2.0.1
asyncua~=0.9
